<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href='/stylesheets/bootstrap.css'>
    <!--<link type="text/css" rel="stylesheet" href="http://img02.hua.com/pc/assets/css/common.css">-->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <link rel="icon" href="/images/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <!--<script src="//cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>-->
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</head>
<body>
<!--<div ng-include="$root.nav" style="display: inline-block;width: 100%;padding: 0"></div>-->
<div class="center" style="width: 1200px;margin: 0 auto;border: 1px solid #F0F0F0">
    <div class="title" style="background-color: #F0F0F0;height: 50px;text-align: center"><span style="line-height: 50px;font-size: 30px;">花语大全</span></div>
    <p>&nbsp; &nbsp;<span style="font-family:yahei;font-size:16px;" microsoft="">玫瑰花语、百合花语、蓝色妖姬花语、满天星花语、薰衣草花语、勿忘我花语、风信子花语、向日葵花语、彼岸花的花语、白玫瑰花语、香槟玫瑰花语、郁金香花语、康乃馨的花语、桔梗花的花语、雏菊花语……这么多美丽鲜花的花语你都造吗？</span></p>
    <p><span style="font-family: yahei;font-size:16px;" microsoft="">&nbsp; <span style="font-family: yahei;font-size:16px;" microsoft="">&nbsp;</span></span><span style="font-family: yahei"><span style="line-height: 20.86px; font-family:yahei;font-size:16px;" microsoft="">还有</span></span><span style="line-height: 20.86px; font-family:yahei;font-size:16px;" microsoft="">送花的含义、</span><span style="line-height: 20.86px; font-family: yahei;font-size:16px;" microsoft="">送花数量的含义、</span><span style="line-height: 20.86px; font-family:yahei;font-size:16px;" microsoft="">送花朵数的含义、</span><span style="line-height: 20.86px; font-family: yahei;font-size:16px;" microsoft="">生日送花的技巧……种种</span><span style="line-height: 20.86px; font-family: yahei;font-size:16px;" microsoft="">送花的讲究，</span><span style="line-height: 20.86px; font-family: yahei;font-size:16px;">尽在花语大全。</span></p>
    <p>&nbsp; &nbsp; &nbsp;<span style="color: rgb(229, 102, 0);font-size:16px;font-weight:bold;">枝数花语</span><span style="color: rgb(229, 102, 0); line-height: 1.5;"><span style="line-height:22.85px;font-size:16px;"><b>▼</b></span></span></p>
    <table width="94%" align="center" class="ke-zeroborder" style="border:1px solid #e2e2e2;border-image:none;color:#737373;font-size:12px;" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <th width="30%" height="40" align="center" style="padding:0px 10px;" bgcolor="#f1f1f1"><span style="color:#333333;font-size:14px;">枝数</span></th>
            <th width="70%" height="40" align="center" style="padding:0px 10px;border-left-color:#e2e2e2;border-left-width:1px;border-left-style:solid;" bgcolor="#f1f1f1"><span style="color:#333333;font-size:14px;">花语</span></th>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-top-color:#e2e2e2;border-bottom-color:#e2e2e2;border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;">1朵 </td>
            <td height="40" style="padding:0px 10px;border-top-color:#e2e2e2;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-top-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-bottom-style:solid;border-left-style:solid;">情有独钟、你是我的唯一</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">2朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">心目中只有我倆</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">3朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">我爱你</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">4朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">誓言、承诺、山盟海誓</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">5朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">无怨无悔</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">6朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">愿你一切顺利</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">7朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">喜相逢</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">8朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">深表歉意、盼您原谅</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">9朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">终生相爱、无怨无悔</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">10朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">完美的爱情、十全十美</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">11朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">一心一意</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">12朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">圆满组合、心心相印</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">13朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">暗恋</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">15朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">对你感到抱歉</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">16朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">爱的最高点</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">17朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">好聚好散</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">18朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">真诚的心</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">19朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">期待陪伴</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">20朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">此情不渝、永远爱你</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">21朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">你是我的最爱</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">22朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">双双对对、你浓我浓、两情相悦</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">24朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">思念</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">25朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">祝你好运</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">29朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">不须言语的爱</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">30朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">爱到永久</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">33朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">深情呼喚、我爱你三生三世 </td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">36朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">浪漫心情、我心属于你</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">44朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">亘古不变的誓言</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">50朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">无怨无悔</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">55朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">无悔的爱</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">56朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">吾爱</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">60朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">爱情永固</td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">66朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">心情顺利、真爱不变</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">77朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">相逢自是有缘</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">88朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">用心弥补一切的错</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">99朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">长相厢守、坚定</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">100朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">百分之百的爱、百年好合</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">101朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">您是我的唯一</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">108朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">嫁給我吧、求婚</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">123朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">爱情自由</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">144朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">爱你日日月月生生世世</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">365朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">天天想你、天天爱你</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">999朵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">天长地久、爱无止休</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;">
                1001朵         </td>
            <td height="40" style="padding:0px 10px;border-left-color:#e2e2e2;border-left-width:1px;border-left-style:solid;">忠诚的爱、直到永远</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <p>&nbsp;<span style="font-family:;" yahei";font-size:16px;"="" microsoft=""><b><span style="color:#e56600;">&nbsp; &nbsp;花材花语</span></b></span><span style="color: rgb(229, 102, 0);"><span style="line-height:22.85px;font-size:16px;"><b>▼</b></span></span></p>
    <table width="94%" align="center" class="ke-zeroborder" style="border:1px solid #e2e2e2;border-image:none;color:#737373;font-size:12px;" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <th width="30%" height="40" align="center" style="padding:0px 10px;" bgcolor="#f1f1f1"><span style="color:#333333;font-size:14px;">花材</span></th>
            <th width="70%" height="40" align="center" style="padding:0px 10px;border-left-color:#e2e2e2;border-left-width:1px;border-left-style:solid;" bgcolor="#f1f1f1"><span style="color:#333333;font-size:14px;">花语</span></th>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-top-color:#e2e2e2;border-bottom-color:#e2e2e2;border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;">红玫瑰 </td>
            <td height="40" style="padding:0px 10px;border-top-color:#e2e2e2;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-top-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-bottom-style:solid;border-left-style:solid;">热情、热恋、热爱着你</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">粉玫瑰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">初恋、爱的宣言、关心</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">白玫瑰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">天真、纯洁、纯真的爱</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">紫玫瑰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;"> 	浪漫真情、珍贵独特</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">蓝玫瑰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">清醇的爱、敦厚善良</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">香槟玫瑰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">我只钟情你一个</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">黄玫瑰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">为爱道歉</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">红色康乃馨</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">思念、祝健康长寿</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">粉色康乃馨</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">祝永远美丽</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">黄色康乃馨</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">对母亲的感激之情、热爱着您</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">郁金香</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">爱的告白、永恒的祝福</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">马蹄莲</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">永恒、优雅、希望、纯洁</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">百合</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">顺利、心想事成、祝福</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">向日葵</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">勇敢地去追求幸福、沉默的爱</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">非洲菊</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">有毅力、不畏艰难、互敬互爱</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">绣球花</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">希望、忠贞、美满</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">满天星</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">关怀、思恋、配角</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">勿忘我</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">永恒的爱、浓情厚谊</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">洋桔梗</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">富于感情、感动</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">红掌</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">大展宏图</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">剑兰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">用心、福禄、康宁</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">紫罗兰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">永恒的美与爱</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">蝴蝶兰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">高洁、清雅、富贵</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">大花蕙兰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">高贵雍容</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">君子兰</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">高贵、有君子之风</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-bottom-width:1px;border-bottom-style:solid;">凤梨花</td>
            <td height="40" style="padding:0px 10px;border-bottom-color:#e2e2e2;border-left-color:#e2e2e2;border-bottom-width:1px;border-left-width:1px;border-bottom-style:solid;border-left-style:solid;">完美无缺</td>
        </tr>
        <tr>
            <td height="40" style="padding:0px 10px;">仙客来</td>
            <td height="40" style="padding:0px 10px;border-left-color:#e2e2e2;border-left-width:1px;border-left-style:solid;">喜悦</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <p><span style="font-size:16px;"><b><span style="color:#e56600;">&nbsp; &nbsp;送花攻略</span></b></span><span style="color: rgb(229, 102, 0);"><span style="line-height:22.85px;font-size:16px;"><b>▼</b></span></span></p>
    <table width="94%" align="center" class="ke-zeroborder" style="border:1px solid #e2e2e2;border-image:none;color:#737373;font-size:12px;" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <th height="40" align="center" style="padding:0px 10px;border-left-color:#e2e2e2;border-left-width:1px;border-left-style:solid;" bgcolor="#f1f1f1"><span style="color:#333333;font-size:14px;">送花攻略</span></th>
        </tr>
        <tr>
            <td style="padding:0px 10px;"><div style="border-bottom-color:#999999;border-bottom-width:1px;border-bottom-style:dashed;"><span class="red"><br>
<strong style="color:#ff6600;line-height:28px;font-size:14px;">不同的送花对象——</strong><br>
<br>
</span><span class="red">恋人：</span>适合送玫瑰以及百合、郁金香、马蹄莲等。<br>
                <br>
                <span class="red">父母/长辈/老师：</span>适合送康乃馨，最好是康乃馨搭配百合、扶郎、玫瑰的花束和花篮。<br>
                <br>
                <span class="red">朋友/同事：</span>适合送百合、扶郎、郁金香、马蹄莲，也可以搭配玫瑰一起赠送。<br>
                <br>
            </div>
                <div style="border-bottom-color:#999999;border-bottom-width:1px;border-bottom-style:dashed;"><br>
<span class="red"><strong style="color:#ff6600;line-height:28px;font-size:14px;">不同颜色的鲜花——</strong><br>
<br>
</span><span class="red">红色：</span>红色代表吉祥、喜气、热烈，红色鲜花适合出现在喜庆的场合，以及用来表达炽热的情感，如代表热恋的红玫瑰。<br>
                    <br>
                    <span class="red">粉色：</span>粉色代表可爱、温馨、青春、恋爱等，多用在女性的身上，粉色花朵主要用来送给女性，所以粉色康乃馨被认为是母爱的象征。<br>
                    <br>
                    <span class="red">白色：</span>白色代表纯洁、圣洁、严肃，白色花朵适合出现在庄重的场合，以及用来表达真挚的情感，如白玫瑰代表纯真的爱。<br>
                    <br>
                    <span class="red">黄色：</span>黄色被认为是快乐和希望的颜色，黄色花朵适合用来祝病人早日康复，以及表达祝福。不过，黄玫瑰比较特别，虽然可代表美好的祝福，但重在为爱道歉。<br>
                    <br>
                </div>
                <div><br>
<span class="red"><strong style="color:#ff6600;line-height:28px;font-size:14px;">花朵朵数的选择——</strong><br>
<br>
</span>时下，比较常见且受欢迎的是11朵、19朵、29朵、33朵、66朵、99朵的花束。<br>
                    <br>
                    <span class="red">11朵</span>代表一心一意，经济实惠之选，常用来表白示爱。<br>
                    <br>
                    <span class="red">19朵</span>代表期待陪伴，正式恋爱后可赠送，特别适合异地恋的情侣。<br>
                    <br>
                    <span class="red">29朵</span>代表不需言语的爱，热恋时送花的心意之选。<br>
                    <br>
                    <span class="red">33朵</span>代表三生三世的爱，适合在相爱纪念日赠送。<br>
                    <br>
                    <span class="red">66朵</span>代表真爱不变，适合恋爱走过轰轰烈烈后送给对方。<br>
                    <br>
                    <span class="red">99朵</span>代表长长久久的爱，较多用于示爱/求婚。<br>
                    <br>
                    如果是很有纪念意义的重要场合，通常送29朵、66朵、99朵这种朵数较多的花束比较合适。<br>
                    <br>
                    <br>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--<script>-->
    <!--var app = angular.module('app',[]);-->
    <!--app.config(function($controllerProvider){-->
        <!--app.controller = $controllerProvider.register;-->
    <!--});-->
    <!--app.run(function($rootScope){-->
        <!--$rootScope.nav='pagenav';-->
<!--//        $rootScope.mb2url='controller/sec2.html'-->
        <!--$rootScope.to1=function(){}-->
    <!--});-->
<!--</script>-->
<script src="/javascripts/jquery-3.1.0.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</body>
</html>